.box__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    font-family: sans-serif;
  }

  $box-primary-bg-color: #112055;
  $box-primary-color: #fff;
  $box-secondary-bg-color: #4f9d92;
  $box-secondary-color: #000;
  $primary-color-darker: darken($box-primary-bg-color, 20%);
  $primary-color-lighter: lighten($box-primary-bg-color, 10%); 
  
  %box {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);
  }


  .box-primary {
    @extend %box ;
    background-color: $box-primary-bg-color;
    color: $box-primary-color;
    &-lighter {
        @extend .box-primary;
         background-color:$primary-color-lighter; 
         color: $box-primary-color;
      }

      &-darker {
        @extend .box-primary;
       background-color:$primary-color-darker; 
       color:  $box-primary-color;
    }

    &:hover {
        box-shadow: none;
  }


  }


  .box-secondary {
    @extend %box ;
    background-color: $box-secondary-bg-color;
    color: $box-secondary-color;

    &:hover {
        box-shadow: none;
  }

  }